h1{
font-family:Arial, Helvetica, sans-serif;
color: darkgreen;
}
li{
font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 50%;
    margin: auto;
    color: #fff;
    background-color: #000;
}
a{
    color: red;
}